.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .video__data-header {
    .video__title {
      font-size: 26px;
      margin-bottom: 15px;
    }
    .video__createdAt {
      font-size: 12px;
    }
    hr {
      margin: 15px 0 25px 0;
      opacity: 0.6;
    }
  }

  .video_data-meta {
    position: relative;
    display: flex;
    align-items: center;
    img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }
    span {
      margin-left: 25px;
      top: 0;
      position: absolute;
      font-size: 25px;
      font-weight: 400;
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
}
